body {
    font-family: 'Arial, Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.header, .section-one{
    margin: 0;
    padding: 20px 40px;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}

.section-one{
padding-bottom: 100px;
}


.logo {
font-size: 24px;
color: #F9FAF8;
font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.placeholder {
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 180px;
    margin: 0;
    padding: 20px;
}

.left-section {
    max-width: 700px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.main-text {
font-size: 48px;
color: #F9FAF8;
font-weight: 900;
}

.text {
    font-size: 18px;
    color: #888888;
    padding-bottom: 5px;
    text-wrap: wrap;
}

.button0 {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    padding: 5px;
    border-radius: 10px;
    border-color: #3882F6;
    width: 100px;

}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin: 0;
}

img {
    width: 200px;
    height: 200px;
    border-color: #3882F6;
    border-radius: 20px;
}

div img {
    border: 5px solid #3882F6;
}

.box {
    max-width: 200px;
    text-align: center;
}

.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 100px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author {
    display: flex;
    justify-content: end;
    font-size: 25px;
    font-weight: 900;
}


.section-four{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
}

.main-text-2 {
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.text-2 {
    color: white;
    font-size: 15px;
}

.button1 {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border-color: white;
    font-weight: 900;
    padding: 5px;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 10px;
    margin: 0;
    padding: 20px
}